table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #dddddd;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {

}